<header> 
<!-- <div [ngClass]="isdarktheme? 'dark-theme' : 'define-light-theme'"> -->
  <div class="header" >
    <img style="float:left" class="img" src="assets/img/comcastLogo.png"  >
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
    <h2  class="title1" style="float:center;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      My Team At Work</h2>
    <!-- <img src="assets/img.jpg" alt=""> -->
</div>
<!-- </div> -->
    </header> 